@import "../../styles/color";
@import "../../styles/fonts";
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;

  justify-content: center;
  flex: 1;
  background-image: url("../../assets/WhatsApp Image 2024-01-19 at 13.04.25.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  background-color: black;
}

.content-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $cream-2;
  h1 {
    font-size: 40px;
    font-family: $font-roboto;
    font-weight: 700;
    color: $cream-2;
  }
}
